@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Eater&display=swap");

:root {
  --clr-neon: hsl(257 100% 54%);
  --clr-bg: hsl(323 21% 16%);
  --navy: #0c0c4a;
  --dark-navy: #060726;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Bungee Shade", cursive;
}

nav {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 35%;
}

h2 {
  position: absolute;
  top: 35%;
  left: 15%;
  border: blueviolet 10px double;
  border-radius: 20%;
  padding: 3rem;
  text-shadow: 5px 5px black;
}

h3 {
  position: absolute;
  top: 25%;
  right: 25%;
  z-index: 1;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: blue;
  border-radius: 10px;
}

.invalidLink {
  font-family: "Eater";
  color: #500;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  text-align: center;
  font-size: 5rem;
  background-color: black;
  border: none;
  border-radius: 0;
  background-image: url("https://m.media-amazon.com/images/I/71+Uz-D30oL._SS500_.jpg");
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  background-size: 100% 90%;
}

.listPoint {
  list-style-type: "⟹";
}

// FontAwesome Links

.contactBtn {
  transform: scale(5);
  margin: 3rem;
}

.linkedin {
  color: rgb(18, 23, 90);
}

.github {
  color: rgb(78, 78, 78);
}

.youtube {
  color: rgb(218, 3, 3);
}

.facebook {
  color: rgb(22, 22, 230);
}
// Glitchy Name

.glitch {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  font-family: sans-serif;
  color: black;
}

.glitch,
span {
  position: absolute;
  width: 100%;
  height: 100%;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

// Nav menu Neon Buttons

.neon-button {
  font-size: 1.5rem;
  font-family: sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

// Retro Wave Background

#image {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--navy);
  display: grid;

  position: relative;
}
#top {
  height: 67vh;
  background: linear-gradient(transparent 50%, rgb(173, 0, 0) 160%);
  box-shadow: 0 15px 50px 1px white;
  position: relative;
}
#sky {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background: repeating-linear-gradient(
      pink 2px,
      transparent 3px,
      transparent 30px
    ),
    repeating-linear-gradient(
        90deg,
        pink 2px,
        transparent 3px,
        transparent 40px
      )
      10px 0;
  filter: drop-shadow(0 0 1px magenta) drop-shadow(0 0 3px magenta)
    drop-shadow(0 0 7px cyan);
  animation: move 10s linear infinite;
  opacity: 0.2;
}
#bottom {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: perspective(500px) rotateX(65deg);
  bottom: -15%;
  background: linear-gradient(
    90deg,
    rgb(173, 0, 0) -60%,
    transparent 40%,
    transparent 60%,
    rgb(173, 0, 0) 140%
  );
  clip-path: polygon(0 100%, 0 55%, 100% 55%, 100% 100%);
}

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: repeating-linear-gradient(
      white 2px,
      transparent 3px,
      transparent 30px
    ),
    repeating-linear-gradient(
      90deg,
      white 2px,
      transparent 3px,
      transparent 40px
    );
  filter: drop-shadow(0 0 1px cyan) drop-shadow(0 0 3px cyan)
    drop-shadow(0 0 7px cyan);
  animation: move 10s linear infinite;
}
@keyframes move {
  to {
    background-position-y: 2000px;
  }
}
@keyframes bg-shift {
  0% {
    background-position: 0 -25px;
  }
  100% {
    background-position: 0 25px;
  }
}

// Project Roulette
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32.5rem;
  height: 17.5rem;
  perspective: 47rem;
  perspective-origin: center;
  transform-style: preserve-3d;
}

.Face:nth-child(1) {
  --startAngle: 0deg;
}
.Face:nth-child(2) {
  --startAngle: 45deg;
}
.Face:nth-child(3) {
  --startAngle: 90deg;
}
.Face:nth-child(4) {
  --startAngle: 135deg;
}
.Face:nth-child(5) {
  --startAngle: 180deg;
}
.Face:nth-child(6) {
  --startAngle: 225deg;
}
.Face:nth-child(7) {
  --startAngle: 270deg;
}
.Face:nth-child(8) {
  --startAngle: 315deg;
}

.l .Face {
  --left: 9.563rem;
  --speed: 5s;
  background-position: -18.75rem 0;
  border-color: #500;
}
.m .Face {
  --left: 0rem;
  --speed: 7s;
  background-position: -9.375rem 0;
  border-color: #050;
}
.r .Face {
  --left: -9.563rem;
  --speed: 6s;
  background-position: 0px 0;
  border-color: #005;
}

.Face {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9.375rem;
  height: 6.25rem;
  background-size: 28.125rem 9.375rem;
  border: solid 3px;
  backface-visibility: hidden;
  animation: rotate var(--speed) ease-in-out infinite alternate forwards;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotateX(var(--startAngle))
      translate3d(var(--left), 0, 125px);
  }
  to {
    transform: translate(-50%, -50%) rotateX(calc(var(--startAngle) + 720deg))
      translate3d(var(--left), 0, 125px);
  }
}

// Media Queries

// Phone

@media (min-width: 320px) and (max-width: 480px) {
  h1,
  h2,
  h3 {
    font-size: 1rem;
  }
  .glitch {
    font-size: 2rem;
  }
  nav {
    display: inline-block;
    top: 3rem;
  }
  .videoContainer {
    display: inline-block;
    top: 10rem;
  }
  iframe {
    height: 10rem;
    width: 10rem;
  }
  .contactBtn {
    margin: 1rem;
    transform: scale(3);
  }
  .contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invalidLink {
    font-size: 4.5rem;
  }
}

// Tablet

@media (min-width: 481px) and (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 1.5rem;
  }
  .glitch {
    font-size: 3rem;
  }
  nav {
    display: inline-block;
    top: 5rem;
  }
  .mainContainer {
    position: absolute;
    top: 10rem;
    width: 90%;
  }
  .videoContainer {
    display: inline-block;
    top: 16rem;
  }
  iframe {
    height: 20rem;
    width: 16rem;
  }
  .contactBtn {
    margin: 1.5rem;
    transform: scale(3);
  }
  .contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invalidLink {
    font-size: 4.5rem;
  }
}
